.mixin.out/**
crash-reports/**
downloads/**
logs/**
maps/**
mods/**
resourcepacks/**
saves/**
screenshots/**

*.cfg
*.log
!crafttweaker.log
*.dll
*.jar
*.jar.meta
*.json
*.sqlite

.curseclient
options.txt