.mixin.out/**
crash-reports/**
downloads/**
logs/**
maps/**
mods/**
resourcepacks/**
saves/**
screenshots/**

*.log
!crafttweaker.log
*.dll
*.jar
*.jar.meta
*.sqlite

.curseclient
.ReAuth.cfg
options.txt
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json