## General ##
.mixin.out/**
crash-reports/**
fonts/**
logs/**
mods/**
saves/**
screenshots/**

*.log
*.dll
*.jar
*.jar.meta
*.sqlite

options.txt
knownkeys.txt
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json

## Mod-Specific ##
backups/**
crafttweaker_dumps/**
EnderStorage/**
generated/**
patchouli_books/**
vintagefix/**
woot/**

config/jei/worldSettings.cfg
config/unidict/dump/**
config/tellme/**

config/acronym/saved/material_parts_contenttweaker-original.json
config/acronym/saved/saved_sub_blocks_contenttweaker-original.json
scripts/nc_script_addons/**

.ReAuth.cfg
hei_bookmarks.ini
seen_buildersbag_addons.txt
!crafttweaker.log

## Launcher ##
.curseclient
